$primary: #222;
$padding: 12px 20px;
$side: left;
$margin: 10px;

body{
  background: $primary;
  user-select: none;
  display: grid;
}

nav{
  display: flex;
}

/*$padding: 16px 24px;*/

.box{
  padding: $padding;
  margin-#{$side}: $margin;
  /* Svarer til at skrive margin-left: 10px; */
}
