@import "colors";

$primary: #222;
$padding: 12px 20px;
$side: left;
$margin: 10px;

$paddingDefault: 20px;
.padding{
  padding: $paddingDefault;

  &Double{
  /* Svarer til at skrive .paddingDouble */
    padding: $paddingDefault * 2;
  }
  &Half{
    padding: $paddingDefault / 2;
  }
  /* SASS mathematical functions:
    abs($num) - absolute value
    ceil($num) - round up to closest whole number
    floor($num) - round down to closest whole number
    percentage($num) - convert to percentage
    round($num) - round to closest whole number
    max($list) - maximum list value
    min($list) - minimum list value */
}

body{
  background: $primary;
  user-select: none;
  display: grid;
}

nav{
  display: flex;
  background-color: bisque;
  line-height: 60px;
  height: 60px;
}

/*$padding: 16px 24px;*/

@mixin blurText($blur: 5px){
/* Modtager en variabel som kan hedde hvad som helst og have en hvilken som helst værdi */
/* Kan modtage mere end en variabel, f.eks. opacity på skyggen også, kunne skrives:
  ($blur: 5px, $opacity: 0.5) og $opacity skrives i stedet for 0.5 i text-shadow */
  color: transparent;
  text-shadow: 0 0 $blur rgba(0,0,0,0.5 /*$opacity*/);
  /* Sætter værdien til at være lig med variablen man bestemte ovenfor */
}

.box{
  padding: $padding;
  margin-#{$side}: $margin;
  /* Svarer til at skrive margin-left: 10px; */
  font-size: 40px;
  @include blurText(10px);
  /* Inkludere koden fra vores mixin og erstatter variabel værdien med den nye angivet værdi */

}

.box-2{
  /*@include blurText();*/
  /* Med mixin og include kan man genbruge kode effektivt og hurtigt, og samtidig ændre variabel værdierne hvis nødvendigt */
  @extend .box;
  /* Med extend tager den alt kode der er i den angivet klasse og genbruger det, men man har ikke mulighed for at ændre på variablens værdier */
  border-radius: 5px;
  /* Man kan stadig tilføje ekstra kode, udover sin extend */
}

header{
  /*background-color: lighten(aquamarine, 15);*/
  /* lighten gør den valgte farve procentvis lysere med den angivet værdi. I dette tilfælde 15% lysere */

  /* background-color: darken(aquamarine, 20); */
  /* darken gør den valgte farve procentvis mørkere */

  /*background-color: desaturate(aquamarine, 15);*/
  /* desaturate hiver en procentvis del af farven ud, fra den angivet farve */

  /*background-color: mix(aquamarine, blue);*/
  /* mix blander de to angivet farver med hinanden */

  /*background-color: grayscale(aquamarine);*/
  /* grayscale giver den grå som svarer til den angivet farve */

  /*background-color: invert(aquamarine);*/
  /* invert giver den modsatte farve af den angivet farve */

  background-color: complement(aquamarine);
  /* complement giver den komplementærfarve til den angivet farve */

  height: calc(100vh - 60px);

  .text{
    color: cadetblue;
    border: {
      color: #f0f;
      style: solid;
      width: 2px;
    }

    ul{
      li{
        font-size: 20px;

        &:nth-of-type(3){
          background-color: $primaryColor;
        }
      }
    }
  }
}